<div class="post-preview">
  <%= link_to entry_path entry do %>
    <h2 class="post-title">
      <%= entry.title %>
    </h2>
    <h3 class="post-subtitle">
      <%= entry.subtitle %>
    </h3>
  <% end %>
  <p class="post-meta">Posted by
    <a href="#"><%= entry.author %></a>
    on <%= entry.created_at.to_formatted_s :long_ordinal %></p>
</div>
<hr>
